@import 'bootstrap';
@import '~notification-js/src/notification';

h1 {
    color:  #fff;
}

.form-label, .form-text {
    color: white;
}

#result-container {
    text-transform: uppercase;
    color: #fff;
}

#result-prize-container {
    color: #fff;
}

span {
    color: #fff;
}
